# Signature: emFta2FyYQ==
[Desktop Entry]
Name=Install Arch Linux
Comment=Install Arch Linux to your system
Exec=alga
Icon=/usr/share/icons/MoreWaita/scalable/devices/drive-harddisk-solidstate.svg
Terminal=false
Type=Application
Categories=System;Settings;
StartupNotify=true
