# Signature: emFta2FyYQ==
[Desktop Entry]
Name=Ark Wizard
GenericName=System Installer
Comment=Install Ark Linux to your system
Exec=alga
Icon=drive-harddisk-solidstate
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
